html
  font-family: "Lato", "Arial", sans-serif
  font-size: 14px
  color: #fff
*
  box-sizing: border-box
h1, h2, h3, h4, h5, h6, p, body
  margin: 0
button, a
  cursor: pointer
  color: #fff
  border: none
  outline: none
  padding: none
a
  text-decoration: none
ul
  list-style-type: none
  margin: 0
  padding: 0
input
  border: none
  outline: none
.container
  max-width: 1140px
  margin: auto
.invalid
  color: red
.input-top
  display: flex
  flex-direction: column
  align-content: flex-start
  height: 88px
  &:nth-child(4)
    height: 165px
    margin-top: 7px

    

    
 


