@media (max-width: 576px)
  .container
    max-width: 85%
  .header
    &-logo
      width: 30%
      &__name
        width: 70px
    &-btn
      max-width: 35%
      min-height: 30px
      font-size: 12px
  .recommend
    top: 90px
    &-content
      display: none
      &--show
        display: none
    &-tabs
      width: 100%
    &-block
      padding: 0
      &__links
        margin-bottom: 0
        padding: 15px
        width: 100%
        justify-content: space-between
        &:not(&:last-child)
          @include line-grey 
      &__img
        margin: 0
      &__inner
        height: 65px
  .modal
    &__dialog
      width: 80vw
      padding: 33px 40px
  .articles
    &-grid
      padding-top: 457px
      grid-template-columns: 1fr 
      grid-template-rows: repeat(12, minmax(170px, min-content))
      &__item
        &:nth-child(1)
          grid-column: 1/ span 1
          grid-row: 1/span 1
        &:nth-child(2)
          grid-column: 1/ span 1
          grid-row: 2/span 1
        &:nth-child(3)
          grid-column: 1/ span 1
          grid-row: 10/span 1
        &:nth-child(4)
          grid-column: 1/ span 1
          grid-row: 3/span 3
        &:nth-child(5)
          grid-column: 1/ span 1
          grid-row: 6/span 1
        &:nth-child(6)
          grid-column: 1/ span 1
          grid-row: 7/span 1
        &:nth-child(7)
          grid-column: 1/ span 1
          grid-row: 11/span 1
        &:nth-child(8)
          grid-column: 1/ span 1
          grid-row: 8/span 1
        &:nth-child(9)
          grid-column: 1/ span 1
          grid-row: 9/span 1
        &:nth-child(10)
          grid-column: 1/ span 1
          grid-row: 12/span 1
  .about
    &-work
      background-position: right -54px
      &__author
        display: none
      &__descr
        padding: 200px 23px 42px 23px
      &__link
        &-title
          margin-bottom: 35px
    &-tools
      &__descr
        height: 490px
    &-tags
     &__links
        min-height: 220px
  .social
    width: 55%
  .salary
    padding: 20px 0 20px
    &__title
      font-size: 20px
  .news
    &-card
      flex-direction: column
      &__content
        padding: 0
        margin-top: 20px
        min-height: 200px
    &__image
      width: 100%
    &__link
      width: 100%
    &-cards
      padding-left: 45px
      padding-right: 45px
 
  

    