@media (max-width: 420px)
  .header
    &-btn
      display: none
      &--visible
        display: block
        max-width: 100%
        margin-bottom: 30px
  .menu
    &-list
      &__item
        &--visible
          display: flex
          align-items: center
          justify-content: center
  .modal
    &__dialog
      width: 95vw
      padding: 18px 20px
  .news
    &-cards
      padding-left: 15px
      padding-right: 15px
    &-side
      width: 100%
  .career
    &-item
      &--two
        &::after, &::before
          display: none
          
      &__descr
        width: 100%
        padding-right: 35px


