@media (max-width: 992px)
  html
    font-size: 12px
  .container
    max-width: 700px
  .menu
    &-list
      &__item
        &:not(&:last-child)
          margin-right: 20px
          margin-left: 20px
          line-height: 25px
        &:last-child
          margin-right: 20px
          margin-left: 20px
          line-height: 25px
        
  .header
    &-logo
      width: 131px
      &__name
        width: 80px
  .recommend
    &-content
      &__descr
            padding: 36px 35px 70px
      &__title
        max-width: 100%
    &-block
      padding-top: 10px
      padding-bottom: 15px
      &__links
        padding-left: 10px
        padding-right: 10px
      &__text
        font-size: 12px
    &-tabs
      &__item
        padding: 10px 15px 10px
        min-height: 82px
        &:last-child
          padding-top: 10px
          padding-bottom: 10px
      