@media (min-width: 992px) 
  .title-hover
    transition: .5s
    &:hover
      margin-left: 20px
  .header
    &-btn
      transition: .3s all
      &:hover
        background-color: $bg-btn
        box-shadow: inset 0 0 30px #BFE2FF
        outline-color: rgba(255, 255, 255, 0)
        outline-offset: 15px
        color: $txt-base-light
  .menu
    &-list
      &__item
        &::before 
          content: attr(data-hover)
          color: $txt-base-light
          position: absolute
          opacity: 0
          text-shadow: 1px 0 7px #000, 0 1px 7px #000, -1px 0 7px #000, 0 -1px 7px #000
          transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg)
          transition: transform 0.3s, opacity 0.3s
          pointer-events: none
        &:hover, &:focus
          &::before
            transform: scale(1) translateX(0px) translateY(1.5px) rotate(0deg)
            opacity: 1
  .btn
    transition: .3s all
    &:hover
      @include hover-btn
  .recommend
    &-tabs
      &__item
        &:hover
          background-color: #F5F5F5
    &-block
      &__links
        transition: .2s
        &:hover
          .recommend-block__text
            color: #FFA34D
 
  .about
    &-tools, &-reference, &-customers, &-stress, &-methods
      transition: .2s
      &:hover
        box-shadow: 14px 20px 12px -5px rgba(62, 105, 144, 0.56)
    &-tags
      &__links
        &-tag
          transition: .2s
          &:hover
            background-color: #FFA34D
    &-portfolio
      &__title
        transition: .2s
        &:hover
          color: #8ebeeb
    &-work
      &__title
        transition: .2s
        &:hover
          color: #3bbdc4

  .news
    &-card
      &__link
        transition: .2s
        &:hover
          color: #3bbdc4
    &-side
      &__more
        border-bottom-left-radius: 8px
        border-bottom-right-radius: 8px
        transition: .3s
        &:hover
          background-color: #2e9096
      &__post
        &:hover
          .news-side__title
            color: #FFA34D
  .career
    &-item
      &--three, &--four
        transition: .2s
        &:hover
          box-shadow: 14px 20px 12px -5px rgba(62, 105, 144, 0.56)
      &__title
        transition: .2s
        &:hover
          color: #3bbdc4
        &--two
          &:hover
            color: #e07b1c
            

